<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8">
  <title>Test Content Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>

<section layout:fragment="content">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form id="donate-form" th:action="@{/checkout}" th:object="${donateForm}" method="POST" class="border p-4 rounded">
          <h3 class="mb-4">Please Donate to Support This Application!</h3>
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" th:field="*{amount}" id="amount" class="form-control" placeholder="Amount" required>
            <small th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="form-text text-danger"></small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

</body>
</html>
