<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8">
  <title>Book Club</title>
  <link th:rel ="stylesheet" type="text/css" th:href="@{/static/cardStyle.css}">
  <script src="/static/addBook.js" defer></script>
</head>
<body class="dark">

<section layout:fragment="content">
  <h1>Search for a book</h1>
  <div id="alert-container"></div>
  <form method="post" action="/searchGoogleBooks">
    <div class="input-group mb-3">
      <input type="text" name="search" class="form-control" placeholder="Enter book title or author" aria-label="Enter book title or author">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div th:each="item: ${books}" class="col">
      <div class="card">
        <img class="card-img-top book-cover" th:src="${item.BookCoverUrl}"/>
        <div class="card-body">
          <h5 class="card-title" th:text="${item.Title}"></h5>
          <p class="card-text" th:text="${item.Author}"></p>
          <p class="card-text" th:text="${item.Isbn}"></p>
          <button type="button" class="btn btn-primary" name="book" th:value="${item}" id="add-to-library-button">Add to Library</button>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>