.alert-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.alert-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4edda;
  color: #155724;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  max-width: 80vw;
}


.close-button {
  background-color: transparent;
  color: #721c24;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
