<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8">
  <title>Notifications</title>
</head>
<body class="dark">

<section layout:fragment="content">
  <h1>Notifications</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Type</th>
      <th>Sender</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notification : ${notifications}">
      <td th:text="${notification.notificationType}"></td>
      <td th:text="${notification.sender.getFullName()}"></td>
      <td th:text="${notification.status}"></td>
      <td>
        <form method="post" action="/notifications/confirm">
          <input type="hidden" name="id" th:value="${notification.id}">
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</section>

</body>
</html>
