<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8">
  <title>Add Friend</title>
</head>
<body class="dark">

<section layout:fragment="content">
  <h2>Add Friend</h2>
  <form method="post" th:action="@{/addFriend}" th:object="${newFriend}">
    <div class="form-group">
      <label for="friendEmail">Email:</label>
      <input type="email" class="form-control" id="friendEmail" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Send Friend Request</button>
  </form>
</section>

</body>
</html>
