<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Details</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body>
<div th:insert="~{common/navbar :: navbar}"></div>
<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-md-6">
      <h1>Book Details</h1>
    </div>
    <div class="col-md-6 text-end">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#findFriendModal">
        Open Modal
      </button>
      <a th:href="@{/editBookDetails/{id}(id=${book.Id})}" class="btn btn-primary">Edit</a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" th:src="${book.BookCoverUrl}" alt="Book Cover">
    </div>
    <div class="col-md-8">
      <h2 th:text="${book.Title}"></h2>
      <p>By <span th:text="${book.Author}"></span></p>
      <p>ISBN: <span th:text="${book.Isbn}"></span></p>
      <p>Description:</p>
      <p th:text="${book.Description}"></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h3>Borrowed From:</h3>
      <p th:text="${book.BorrowedFromUser}"></p>
    </div>
    <div class="col-md-6">
      <h3>Lent To:</h3>
      <p th:text="${book.LentToUser}"></p>
    </div>
  </div>
</div>

<div th:replace="~{common/findFriendModal :: findFriendModal}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous">

</script>

</body>
</html>