<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8">
  <title>My Friends</title>
</head>
<body class="dark">

<section layout:fragment="content">
  <h1>My Friends</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="friend : ${friends}">
      <td th:text="${friend.fullName}"></td>
      <td th:text="${friend.email}"></td>
    </tr>
    </tbody>
  </table>

  <div>
    <a href="/addFriend" class="btn btn-primary">Add Friend</a>
  </div>
</section>

</body>
</html>
