<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Club</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel ="stylesheet" type="text/css" th:href="@{/static/main.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="dark">
<div th:insert="~{common/navbar :: navbar}"></div>

<div class="container">
    <h1>Welcome to Book Club!</h1>
    <hr />

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Id</th>
            <th>User Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Description</th>
            <th>BorrowedFromUser</th>
            <th>LentToUser</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${books}" class="clickable-row">
            <td><img th:src="${item.BookCoverUrl}"/></td>
            <td th:attr="data-href=@{/book_details/{bookId}(bookId=${item.Id})}" class="book-id" th:text="${item.Id}"></td>
            <td th:text="${item.User.getFullName()}"></td>
            <td th:text="${item.Title}"></td>
            <td th:text="${item.Author}"></td>
            <td th:text="${item.Isbn}"></td>
            <td th:text="${item.Description}"></td>
            <td th:text="${item.BorrowedFromUser}"></td>
            <td th:text="${item.LentToUser}"></td>

        </tr>
        </tbody>
    </table>

    <p><a class="btn btn-outline-success" href="/book">
        <i class="bi bi-plus-square-fill"></i>Add New Book</a>
    </p>
</div>

<script>
    // Make the rows clickable
    $('.clickable-row').on('click', function() {
        var bookId = $(this).find('.book-id').text();
        window.location.href = $(this).find('.book-id').data('href');
    });
</script>

</body>
</html>
