<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Club</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body class="dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Book Club</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/book">Add Books</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h1>Search for a book</h1>
  <form method="post" action="/book">
    <div class="input-group mb-3">
      <input type="text" name="search" class="form-control" placeholder="Enter book title or author" aria-label="Enter book title or author">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
  <h2>Results</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${books}">
        <td th:text="${item.Title}"></td>
        <td th:text="${item.Author}"></td>
        <td th:text="${item.Isbn}"></td>
        <td><button type="button" class="btn btn-primary" name="book" th:value="${item.Isbn}" id="add-to-library-button">Add to Library</button></td>
    </tr>
    </tbody>
  </table>
</div>
<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>

<script>
const addToLibraryButton = document.getElementById("add-to-library-button");

addToLibraryButton.addEventListener("click", () => {
  const bookItem = addToLibraryButton.value;
  const formData = new FormData();
  formData.append("bookItem", bookItem);

  fetch("/addBook", {
    method: "POST",
    body: formData,
  })
  .then(response => response.json())
  .then(data => console.log(data))
  .catch(error => console.error(error));
});
</script>
</body>
</html>