<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Club</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
  <link th:rel ="stylesheet" type="text/css" th:href="@{/static/main.css}">
</head>
<body class="dark">
<!-- Include the navbar fragment -->
<div th:insert="~{common/navbar :: navbar}"></div>

<div class="container">
  <h1>Search for a book</h1>
  <div id="alert-container"></div>
  <form method="post" action="/searchBooks">
    <div class="input-group mb-3">
      <input type="text" name="search" class="form-control" placeholder="Enter book title or author" aria-label="Enter book title or author">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

  <div>
    <h2>Friends Books</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item: ${friendsBooks}">
        <td><img th:src="${item.BookCoverUrl}"/></td>
        <td th:text="${item.Title}"></td>
        <td th:text="${item.Author}"></td>
        <td th:text="${item.Isbn}"></td>
        <td><button type="button" class="btn btn-primary" name="book" th:value="${item}" id="request-to-borrow-button">Request To Borrow</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div th:if="${not #lists.isEmpty(books)}">
    <h2>Results</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item: ${books}">
        <td><img th:src="${item.BookCoverUrl}"/></td>
        <td th:text="${item.Title}"></td>
        <td th:text="${item.Author}"></td>
        <td th:text="${item.Isbn}"></td>
        <td><button type="button" class="btn btn-primary" name="book" th:value="${item}" id="add-to-library-button">Add to Library</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
const addToLibraryButtons = document.querySelectorAll(".btn[name='book']");

addToLibraryButtons.forEach((button) => {
  button.addEventListener("click", () => {
    const book = button.value;
    const requestBody = JSON.stringify(book);

    fetch("/addBook", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: requestBody
    })
      .then((response) => response.text())
      .then((data) => {
          console.log(data);
          const alertContainer = document.createElement("div");
          alertContainer.classList.add("alert-container");

          const alertBox = document.createElement("div");
          alertBox.classList.add("alert-box");
          alertBox.innerText = data;

          const closeButton = document.createElement("button");
          closeButton.classList.add("close-button");
          closeButton.innerText = "x";
          closeButton.addEventListener("click", () => {
              alertContainer.remove();
          });

          alertBox.appendChild(closeButton);
          alertContainer.appendChild(alertBox);
          document.body.appendChild(alertContainer);

          // Change background color based on success flag
          if (data.includes("success")) {
            alertBox.style.backgroundColor = "#c3e6cb"; // green color
          } else {
            alertBox.style.backgroundColor = "#f8d7da"; // red color
          }

          setTimeout(() => {
              alertContainer.remove();
          }, 3000);
      })
      .catch((error) => console.error(error));
  });
});

</script>
</body>
</html>